tests/
.env
images/
videos/
**/__pycache__/
/utilities/reverse_api/usernames.json
/utilities/reverse_api/cookies.json
/utilities/reverse_api/test_cookies.json
/utilities/reverse_api/new_prompt.txt
/utilities/reverse_api/debug.log
/utilities/reverse_imagen3/tokens.txt
# might want to change to tokens.json
/venv